:root {
  --timeline-color-primary: #3877EE;
  --timeline-color-secondary: #EF5DA8;
  --timeline-color-text: #42567A;
  --border-color: #C7CDD9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 376px) {
  div.swiper-wrapper {
    div.swiper-slide-next, div.swiper-slide-prev {
      opacity: 0.5;
    }
  }
}